<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    .search {
      width: 250px;
      margin: 20px 0;
    }

    .red {
      color: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <!-- 搜索 -->
      <input type="text" class="form-control search" placeholder="输入关键字进行搜索" v-model='search1'>
      <button class="btn btn-primary" @click='search'>搜索</button>
      <!-- 表格 -->
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>编号</th>
            <th>资产名称</th>
            <th>资产价格</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='(item, index) in list' :key='item.id'>
            <td> {{index + 1}} </td>
            <td> {{item.name }} </td>
            <td :class='{ red : item.price >=100}'> {{item.price | format}} </td>
            <td><a href="javascript:;" @click='dele(item.id)'>删除</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan='4'>
              总价： {{totalPrice | format}}元
            </td>
          </tr>
        </tfoot>
      </table>
      <!-- 添加资产 -->
      <form class="form-inline">
        <input type="text" class="form-control" placeholder="资产名称" v-model.trim='name'>
        &nbsp;&nbsp;
        <input type="text" class="form-control" placeholder="资产价格" v-model.number='price'>
        &nbsp;&nbsp;
        <button class="btn btn-primary" @click.prevent='add'>添加资产</button>
      </form>
    </div>
  </div>

  <script src="./vue.js"></script>
  <script src="./axios.js"></script>
  <script>
    Vue.filter('format', (value) => {
      return '￥' + value
    })
    const vm = new Vue({
      el: '#app',
      data: {
        list: [],
        name: '',
        price: '',
        search1: ''
      },
      created() {
        this.getList()
      },

      methods: {
        getList() {
          axios.get('http://localhost:3000/list').then(res => {
            this.list = res.data
          })
        },
        dele(id) {
          axios.delete(`http://localhost:3000/list/${id}`).then(res => {
            console.log('删除成功');
            this.getList()
          })
        },
        add() {
          axios.post('http://localhost:3000/list', {
            "name": this.name,
            "price": this.price
          }).then(res => {
            console.log('添加成功');
            this.getList()
          })
        },
        search() {
          axios.get(`http://localhost:3000/list/?name_like=${this.search1}`).then(res => {
            // console.log(res.data);
            this.list = res.data
          })
        }

      },
      computed: {
        totalPrice() {
          let initValue = 0
          return this.list.reduce((acc, cur) => acc + cur.price, initValue)
        },
      }

    })
  </script>

</body>

</html>